<header class="header-wrapper" style="background: url({{ site.baseurl }}/images/{% if page.imageuri %}{{ page.imageuri }}{% else %}cover.jpg{% endif %});width:100%;height:350px;">

  <label class="menu" for="_1">
    <span class="genericon genericon-menu"></span>
  </label>
  <input id="_1" type="checkbox">

  <div class="menu-content">
    <p class="menu-title"><p>
    <div class="menu" style="background-color: #1a1a1a; z-index: -1;"></div>

    <a href="/">Home</a>
    <a href="/about.html">About</a>
    
    <hr>

    <a href="#" class="social-links-menu" target="_blank" title="Siga-me no twitter"><span class="genericon genericon-twitter"></span></a>
    <a href="https://github.com/wangzj" class="social-links-menu" target="_blank" title="Acesse meu github"><span class="genericon genericon-github"></span></a>
    <a href="#" class="social-links-menu" target="_blank" title="Me adicione ao google+"><span class="genericon genericon-googleplus-alt"></span></a>
    <a href="#" class="social-links-menu" target="_blank" title="Inscreva-se no meu feed"><span class="genericon genericon-feed"></span></a>
  </div>

</header>