{% if page.image.feature and page.image.feature != "" %}
  {% assign imageuri = page.image.feature %}
{% else %}
  {% assign imageuri = "front_cover.jpg" %}
{% endif %}

<header class="header-wrapper" style="background: url({{ site.baseurl }}/images/{{ imageuri }}) no-repeat;background-size: cover;width:100%;height:550px;">
  {% include menu.html %}

  <!-- meta content -->
  {% if page.id %}
  <div class="post-meta-content container-fluid">
    <div class="row-fluid">
      <div class="col-xs-3 col-md-2"></div>
      <div class="col-xs-12 col-md-8">
          <h1 class="post-title">{{ page.title }}</h1>
          {% if page.description %}
          <h2 class="post-description">{{ page.abstraction }}</h2>
          {% endif %}
          <span class="post-date">{{ page.category }} | {{ page.date | date: "%d %B %Y" }}</span>
      </div>
    </div>
  </div>
  {% else %}
  <div class="meta-content container-fluid">
    <div class="row-fluid">
      <div class="col-xs-3 col-md-2"></div>
      <div class="col-xs-12 col-md-8">
        <h1>{{ site.title }}</h1>
        <p>{{ site.description }}</p>
      </div>
    </div>
  </div>
  {% endif %}

</header>