---
layout: default
---

{% include header.html %}

<div class="meta-wrapper" style="background-image: url({{ site.baseurl }}/images/{% if page.imageuri %}{{ page.imageuri }}{% else %}cover.jpg{% endif %});background-position: 0px -350px;height: 200px;">
  <div class="post-meta">
    <h1 class="post-title">{{ page.title }}</h1>
    {% if page.description %}
      <h2 class="post-description">{{ page.abstraction }}</h2>
    {% endif %}
    <span class="post-date">
      {{ page.categories }} | {{ page.date | date: "%d %B %Y" }}
    </span>
  </div>
</div>

<div class="content-wrapper">
  <div class="post-wrapper">
    {{ content }}
  </div>

  <div class="comments-wrapper">
    <div id="disqus_thread"></div>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
  </div>

</div>

{% include footer.html %}

{% include disqus.html %}